<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/global.css">
  <link rel="stylesheet" href="/css/following-page.css">
  <title>Following Page</title>
</head>
<body>
  <div id="body-container">
    <h1>People You Follow:</h1>
    <hr>
    <div class="following-container">
      {{#if follower_users.length}}
        {{#each follower_users}}
          <div class="following-user" onclick="document.location = '/user/{{ username }}'">
            {{#if (regexMatch "http" image_url)}}
              {{!-- External URL image --}}
              <img src="{{ profile_picture }}" alt="{{username}}'s Profile picture">
            {{else}}
              {{!-- Local image file in posts folder --}}
              <img src="/assets/images/pfps/{{ profile_picture }}" alt="{{username}}'s Profile picture">
            {{/if}}
            <h2 id="username">{{username}}</h2>
          </div>
        {{/each}}
      {{else}}
        <p>You are not following anybody yet.</p>
      {{/if}}
    </div>
  </div>
  </body>
</html>