<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="./css/global.css">
    <link rel="stylesheet" type="text/css" href="./css/homepage.css">
    <script src="/js/homepage.js"></script>
    <title>homepage</title>
  </head>
  <body>
    <div id="home-container">
    {{!-- Post --}}
    <div id="post-container">
      {{#if (regexMatch "http" image_url)}}
        {{!-- External URL image --}}
        <img id="post--image" src="{{ image_url }}"  alt="Post image" />
      {{else}}
        {{!-- Local image file in posts folder --}}
        <img id="post--image" src="./assets/images/posts/{{ image_url }}"  alt="Post image" />
      {{/if}}
    </div>

    {{!-- Comments --}}
    <header id="comments--header">
      {{!-- Where Like, View and Save Counters are --}}
      <div id="likes-counter-container">
        <div class="icon-container">
          <img src="./assets/icons/heart.svg" onload="ImgToSvg(this)" alt="Likes counter icon">
        </div>
        <h1 id="likes-counter">{{likes}}</h1>
      </div>
      <div id="views-counter-container">
        <div class="icon-container">
          <img src="./assets/icons/eye.svg" onload="ImgToSvg(this)" alt="Likes counter icon">
        </div>
        <h1 id="views-counter">{{formatCount views}}</h1>
      </div>
      <div id="saves-counter-container">
        <div class="icon-container">
          <img src="./assets/icons/bookmark.svg" onload="ImgToSvg(this)" alt="Likes counter icon">
        </div>
        <h1 id="saves-counter">{{formatCount saves}}</h1>
      </div>
      <div id="interaction-buttons">
        <button class="btn" id="like" type="button" data-like="{{likes}}" data-id="{{id}}"
          data-click="not-liked">like</button>
        <button class="btn" id="save" type="button" data-id="{{id}}" data-saved="false">save</button>
      </div>
    </header>

    <div id="comments-container">
      <div id="post--description">
        <div id="post--author-pfp-container">
          {{#if (regexMatch "http" image_url)}}
              {{!-- External URL image --}}
              <img id="post--author-pfp" src="{{user.profile_picture}}" alt="User Pfp" />
            {{else}}
              {{!-- Local image file in posts folder --}}
              <img id="post--author-pfp" src="/assets/images/pfps/{{user.profile_picture}}" alt="User Pfp" />
            {{/if}}
        </div>
        <div id="post--author-content">
          <h1 class="author-username">{{user.username}}</h1>
          <h2 class="post-title">{{title}}</h2>
          <p>
            {{description}}
          </p>
        </div>
      </div>

      <div id="comment-box-container">
        <textarea id="comment-box" placeholder="Add a comment..." maxlength="250"
          onkeyup="textAreaAdjust(event, this)"  ></textarea>
        <button id="comment-box-send-button" data-id="{{id}}">
          <img src="./assets/icons/paper_plane.svg" onload="ImgToSvg(this)" alt="Commnet box send button">
        </button>
      </div>



     {{!-- render comments --}}
      <div id="comments">
        {{#if comments.length}}
         {{#each comments as |comment|}}
        <div class="comment">
          {{!-- if comments written, render here --}}
           {{!-- render each existing comment --}}
          <div class="comment--user-pfp-container">
            {{!-- render profile picture --}}
            {{#if (regexMatch "http" image_url)}}
              {{!-- External URL image --}}
              <img class="comment--user-pfp profile" data-element="profile" data-name="{{user.username}}" src="{{user.profile_picture}}" alt="{{user.username}} Pfp" />
            {{else}}
              {{!-- Local image file in posts folder --}}
              <img class="comment--user-pfp profile" data-element="profile" data-name="{{user.username}}" src="/assets/images/pfps/{{user.profile_picture}}" alt="{{user.username}} Pfp" />
            {{/if}}
          </div>
          <div class="comment--content">
            {{!-- render username --}}
            <h1 class="comment--user-name">{{user.username}}</h1>
            <p class="comment--content">
              {{!-- render comment content --}}
              {{comment.message}}
            </p>
          </div>
          {{!-- if no comment written display this message --}}
        </div>
        {{/each}}
        {{else}}
        <p class="no-comments-message">Be the first one to comment</p>
        {{/if}}
      </div>
    </div>
    {{!-- Posts --}}
    <header id="posts--header">
      <img src="./assets/icons/home.svg" onload="ImgToSvg(this)" alt="">
    </header>
    {{!-- !! Do not go past 7 featured posts shown at a time --}}
    <div id="posts-container">
      {{#each filteredTopPosts as |topPost index|}}
        {{!-- !! Limit the loop to 7 iterations --}}
        {{#compare index 'lt' 7}}
          <div class="featured-post empty">
            {{#if (regexMatch "http" image_url)}}
              {{!-- External URL image --}}
              <img class="featured-post--image" src="{{topPost.image_url}}" data-id="{{topPost.id}}" alt="Featured post image">
            {{else}}
              {{!-- Local image file in posts folder --}}
              <img class="featured-post--image" src="./assets/images/posts/{{topPost.image_url}}" data-id="{{topPost.id}}" alt="Featured post image">
            {{/if}}
          </div>
        {{/compare}}
      {{/each}}
    </div>

    {{!-- Rankings --}}
    <header id="rankings--header">
      <img src="./assets/icons/ranking_star.svg" onload="ImgToSvg(this)" alt="">
    </header>
    <div id="rankings-container">
      {{#each filteredTopUsers as |topUser|}}
      <div class="featured-user">
        {{#if (regexMatch "http" image_url)}}
          {{!-- External URL image --}}
          <img class="feature-user--pfp profile" src="{{topUser.profile_picture}}" data-name="{{topUser.username}}" data-id="{{topUser.id}}" alt="Featured post image">
        {{else}}
          {{!-- Local image file in posts folder --}}
          <img class="feature-user--pfp profile" src="./assets/images/pfps/{{topUser.profile_picture}}" data-name="{{topUser.username}}" data-id="{{topUser.id}}" alt="Featured post image">
        {{/if}}
      </div>
      {{/each}}
    </div>
  </div>
</body>

<script src="/js/homepage.js"></script>
<script src="/js/postComment.js"></script>

</html>