<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/rankings.css">
    <title>Document</title>
  </head>
  <body>
    <section class="rankings--section" id="rankings--following">
      <div>
        <h1>People You Following</h1>
        <hr>
        <div class="rankings--post-container" id="rankings--post-container-following">
          {{#each followingPosts}}
            <div class="rankings--post">
              {{#if (regexMatch "http" image_url)}}
                {{!-- External URL image --}}
                <img src="{{ image_url }}" alt="">
              {{else}}
                {{!-- Local image file in posts folder --}}
                <img src="/assets/images/posts/{{ image_url }}" alt="">
              {{/if}}
              <h1 class="counter">
                <img src="/assets/icons/user.svg" onload="ImgToSvg(this)" alt="views icon">
                {{ user.username }}
              </h1>
            </div>
          {{/each}}
        </div>
      </div>
    </section>
    {{!-- Most Liked --}}
    <section class="rankings--section" id="rankings--most-liked">
      <div>
        <h1>Most Liked</h1>
        <hr>
        <div class="rankings--post-container">
          {{#each mostLikedPosts}}
            <div class="rankings--post">
              {{#if (regexMatch "http" image_url)}}
                {{!-- External URL image --}}
                <img src="{{ image_url }}" alt="">
              {{else}}
                {{!-- Local image file in posts folder --}}
                <img src="/assets/images/posts/{{ image_url }}" alt="">
              {{/if}}
              <h1 class="counter">
                <img src="/assets/icons/heart.svg" onload="ImgToSvg(this)" alt="views icon">
                {{ formatCount views }}
              </h1>
            </div>
          {{/each}}
        </div>
      </div>
    </section>
    {{!-- Most Viewed --}}
    <section class="rankings--section" id="rankings--most-viewed">
      <div>
        <h1>Most Viewed</h1>
        <hr>
        <div class="rankings--post-container">
          {{#each mostViewedPosts}}
            <div class="rankings--post">
              {{#if (regexMatch "http" image_url)}}
                {{!-- External URL image --}}
              <img src="{{ image_url }}" alt="">
              {{else}}
                {{!-- Local image file in posts folder --}}
                <img src="/assets/images/posts/{{ image_url }}" alt="">
              {{/if}}
              <h1 class="counter">
                <img src="/assets/icons/eye.svg" onload="ImgToSvg(this)" alt="views icon">
                {{ formatCount views }}
              </h1>
            </div>
          {{/each}}
        </div>
      </div>
    </section>
  </body>
</html>