<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/css/global.css">
      <link rel="stylesheet" href="/css/saved-posts.css">
      <title>Document</title>
  </head>
  <body>
    <div id="body-container">
      <h1>Saved posts</h1>
      <h2>Your Personal Collection of Favorites</h2>
      <hr>
      <div class="saved--post-container">
        {{#each posts}}
        <div class="saved--post">
            {{#if (regexMatch "http" image_url)}}
            <!-- External URL image -->
            <img src="{{ image_url }}" alt="" class="post" data-id="{{id}}">
            {{else}}
            <!-- Local image file in posts folder -->
            <img src="/assets/images/posts/{{ image_url }}" alt="" data-id="{{id}}" class="post">
            {{/if}}
        </div>
        {{/each}}
      </div>
    </div>
    <script src="/js/rankings.js"></script>
  </body>
</html>